@font-face {
    font-family: DB-Heavent;
    src: url('/static/fonts/db-heavent/DB-Heavent-Cond.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: DB-Heavent;
    src: url('/static/fonts/db-heavent/DB-Heavent-Med-Cond.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: DB-Heavent;
    src: url('/static/fonts/db-heavent/DB-Heavent-Bd-Cond.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: DB-Heavent;
    src: url('/static/fonts/db-heavent/DB-Heavent-Cond.ttf') format('truetype');
}
